.about-me-box {
    display: flex;
    flex-direction: column;
    row-gap: 114px;
    width: 100%;
    background: #141D2F;

    .social-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 30px;

        .animate-icons {
            -webkit-transition: all 400ms ease-in-out;
            -moz-transition: all 400ms ease-in-out;
            transition: all 400ms ease-in-out;
            cursor: pointer;

            &:hover {
                -webkit-transform: scale(1.25);
                -moz-transform: scale(1.25);
                -ms-transform: scale(1.25);
                -o-transform: scale(1.25);
                transform: scale(1.25);
            }
        }
    }

    .green-line {
        width: 120px;
        height: 3px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        background-color: #70E61C;
    }

    .personal-info-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        .personal-text {
            display: flex;
            flex-direction: column;
            width: 40%;

            h1 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 77px;
                color: #FFFF;
            }

            p {
                color: #FFFF;
                font-family: 'Poppins', sans-serif;
                padding: 15px 0;
            }

        }
    }

    .overview-sheet {
        display: flex;
        flex-direction: row;
        column-gap: 20px;
        justify-content: center;
        align-items: center;
        padding: 22px;

        img {
            width: 100px;
            object-fit: scale-down;
        }
    }

    .profile-box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 40%;

        .profile {
            display: flex;
            flex-direction: row;

            img:first-child {
                position: absolute;
                top: 1119px;
                left: 914px;
                width: 547px;
            }

            img:last-child {
                position: absolute;
                top: 1119px;
                left: 1260px;
            }
        }
    }
}