<section>
    <div class="about-me-box">
        <div class="social-box">
            <div class="green-line"></div>
            <div class="animate-icons"><img src="./assets/icons/github_icon.png" alt="#"></div>
            <div class="animate-icons"><img src="./assets/icons/mail-icon.png" alt="#"></div>
            <div class="animate-icons"><img src="./assets/icons/linkedin_icon.png" alt="#"></div>
        </div>
        <div class="personal-info-box">
            <div class="personal-text">
                <h1>About Me</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, repellendus excepturi minus
                    ipsam
                    mollitia repudiandae sit neque iste veritatis maiores optio suscipit fuga a, vel aut libero
                    enim.
                    Accusamus, incidunt.
                </p>
                <div class="overview-sheet">
                    <img src="./assets/icons/bulb.png" alt="#">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, repellendus excepturi
                        minus ipsam
                        mollitia repudiandae sit neque iste veritatis maiores optio suscipit fuga a, vel aut libero
                        enim.
                        Accusamus, incidunt.
                    </p>
                </div>
                <div class="overview-sheet">
                    <img src="./assets/icons/puzzle.png" alt="#">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, repellendus excepturi
                        minus ipsam
                        mollitia repudiandae sit neque iste veritatis maiores optio suscipit fuga a, vel aut libero
                        enim.
                        Accusamus, incidunt.
                    </p>
                </div>
            </div>
            <div class="profile-box">
                <div class="profile">
                    <img src="./assets/img/purple_shadow_prof.png" alt="#">
                    <img src="./assets/img/green_shadow_prof.png" alt="#">
                </div>
            </div>
        </div>
    </div>
</section>
