<section>
    <div class="skills-box">
        <div class="backlayer">
            <img src="./assets/img/blur_backdrop.png" alt="#">
        </div>
        <div class="skills-content">
            <div class="grid-icons">
                <div class="div"><h4>Javascript</h4></div>
                <div class="div"><h4>Angular</h4></div>
                <div class="div"><h4>Typescript</h4></div>
                <div class="div"><h4>HTML</h4></div>
                <div class="div"><h4>GIT</h4></div>
                <div class="div"><h4>Firebase</h4></div>
                <div class="div"><h4>CSS</h4></div>
                <div class="div"><h4>Scrum</h4></div>
                <div class="div"><h4>Rest-Api</h4></div>
                <div class="div"><h4>Material<br>Design</h4></div>
            </div>
            <div class="skill-info">
                <div class="header-style">
                    <h1>Skills</h1>
                    <div class="turquoise-line"></div>
                </div>
                <div class="skills-text">
                    <p>I have gained experience in building projects with various front end technologies and concepts.</p>
                    <button class="button-style">Get in touch</button>
                </div>
            </div>
        </div>
    </div>
</section>