.portfolio-box {
    width: 100%;
    background: #141D2F;
    display: flex;
    flex-direction: column;

    .turquoise-shadow-alt {
        position: absolute;
        top: 2468px;
        right: 0;
        width: 471px;
        object-fit: contain;
    }

    .green-shadow-alt {
        position: absolute;
        left: 0;
        top: 2857px;
        width: 471px;
    }

    .portfolio-header {
        display: flex;
        flex-direction: row;
        column-gap: 20px;
        align-items: center;

        h1 {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 700;
            font-size: 77px;
            line-height: 120%;
            color: white;
        }
    }

    .portfolio-info {
        width: 470px;
        padding: 15px 0 0 100px;

        font-family: "Poppins", sans-serif;
        color: #FFFFFF;
        font-size: 18px;
    }

    .purple-line {
        width: 80px;
        height: 3px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        background-color: #9747FF;
    }
}