<section>
    <header>
        <div class="header-panel">
            <h1>Adrian Herzbger</h1>
            <div class="direct-to">
                <a (click)="scrollToAbout()">
                    <h2>About Me</h2>
                </a>
                <a (click)="scrollToSkills()">
                    <h2>Skills</h2>
                </a>
                <a routerLink="/portfolio" routerLinkActive="active">
                    <h2>Portfolio</h2>
                </a>
            </div>
        </div>
    </header>
</section>
<section>
    <div class="introduction-box">
        <img class="purple-shadow" src="./assets/img/purple_shadow.png">
        <img class="turquoise_shadow" src="./assets/img/turquoise_shadow.png">
        <div class="rotate-me">
            <h2>I am</h2>
        </div>
        <div class="name-space">
            <h3>Adrian Herzberger</h3>
            <h4>FRONTEND DEVELOPER</h4>
        </div>
        <button class="button-style mt-46">Let´s talk!</button>
    </div>
    <div class="scroll-info">
        <div class="scroll-flex">
            <h2>Scroll down</h2>
            <span class="material-symbols-rounded">
                arrow_downward
            </span>
        </div>
    </div>
</section>