* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

.mt-46 {
    margin-top: 46px;
}

.mt-32 {
    margin-top: 32px;
}

.mt-22 {
    margin-top: 22px;
}

.ml-32 {
    margin-left: 32px;
}

.mb {
    
}

.ml {
    
}

.mr {
    
}